@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');




/* Variebles */
:root {
  --primary: #FFC636;
  --secondary: #0A0B5B;
}

/* Reset */
body,p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}


li {
  list-style: none; 
}

/* Base Styles */

/* body */
body {
  background: var(--secondary);
  overflow-x: hidden;
}

/* buttons */
.button {
  background: none;
  border: 2px solid var(--primary);
  border-radius: 20px;
  color: var(--primary);
  padding: 6px 12px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
  display: inline-block;
  transition: 0.4s ease-in-out;
}

.button:hover {
  color: #222;
  background: var(--primary);
}


/* form */
input, textarea {
  background: rgba(255,255,255,0.05); 
  color: #f2f2f2;
  padding: 10px 16px;
  border: 2px solid #9893D8;
  border-radius: 20px;
  outline: none;
}

/* Fonts */
h1,h2,h3,h4 {
  color: #DDDBFF;
  font-weight: normal;
}

p,a,li {
  color: #9893D8;
}

h1,h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}

.leading { 
  font-size: 1.1em;
}

/* Mobile styles */ 
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

/* Navbar */
.site-nav {
  margin: 0px 150px;
  text-align: center;
  border-bottom: 3px solid var(--primary);
  margin-bottom: 50px;
}

.site-nav h1 {
  grid-column: 1/4;
  grid-row: 1;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--primary)
}

.site-nav ul{
  grid-row: 2;
  display: flex;
}

.site-nav ul li {
  margin: 5px;
}


.site-nav ul li a {
  transition: .3s ease-in-out;
}


.site-nav ul li a:hover {
  color: white;
}

/* Home */
#welcome {
  padding: 0 20px 20px 20px;
}

.welcome-text {
  grid-column: 1/6;
}

.welcome-text a {
  margin: 20px 0;
}

.welcome-image {
  grid-column: 6/9;
}

.welcome-image img {
  width: 200%;
}


/* Projects/portfolio */
#portfolio {
  background: url(/assets/square_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 30px 20px;
}

#portfolio h3 {
  margin-bottom: 0;
  text-align: center;
}

.projects a {
  display: flex;
  grid-column: 1/9;
  margin: 20px 0;
}

.projects a * {
  margin: 0 20px;
  max-width: 40%;
  align-self: center;
}

.projects h4 {
  color: #9994f7;
}

#skills {
  padding: 30px 30px;
  background-color: #07083E;
}

#skills h3 {
  text-align: center;
}

#skills ul {
  margin: 40px 0;
}

#skills ul li {
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
  grid-column: span 4;
}


#skills img {
  height: 80px;
  margin:  auto;
}


/* Contact Form */
#contact {
  padding: 30px 20px;
  background-color: #080936;
}

#contact h3, p {
  text-align: center;
  margin-bottom: 0;
}

#contact form {
  width: 80%;
  max-width: 400px;
  margin: 20px 20px auto;
  text-align: center;
  
}

#contact input, textarea {
  width: 100%;
  margin: 10px 0;
}

#contact button {
  margin-top: 10px;
  cursor: pointer;
  width: 40%;
}

/* Footer */
footer {
  padding: 20px 30px;
  background-color: #14153D;
  background-image: url(/assets/footer_image.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top center;
}

footer .copyright {
  grid-column: 1/3;
  font-size: 0.8em;
}

footer .social {
  grid-column: 7/9;
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
}

footer .social li {
  margin: 0 9px;
}

footer i {
  width: 20px;
}

/* Small tablet styles */
@media screen and (min-width: 620px) {

}

/* Large Tablets and Laptops */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}


/* Desktop Styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px; 
  }
}
   
